@page "/login"
@layout MainLayout
<MudGrid xs="12" Spacing="0" Class="ma-0">
    <MudItem xs="12" Class="">
        <EditForm EditContext="EditContext" OnValidSubmit="SubmitAsync">
            <DataAnnotationsValidator />
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudGrid xs="12" Spacing="0">
                    <MudItem class="flex-grow-1">
                    </MudItem>
                    <MudItem xs="10" Class="flex-grow-1" Style="max-width:1100px">
                        <MudGrid Spacing="0" Class="d-flex justify-center">
                            <MudItem xs="6" Class="logincontent d-flex flex-column justify-content-center align-center">
                                <MudGrid xs="12" Spacing="0">
                                    <MudItem xs="12" style="text-align:center">
                                        <img src="/media/logo.jpg" style="max-width: 280px;" />
                                    </MudItem>
                                    <MudItem xs="12" Class="mt-8 pt-6 noregister">
                                        <MudText>Ainda não possui uma conta?</MudText>
                                    </MudItem>
                                    <MudItem xs="12" Style="text-align:center" Class="mt-5">
                                        <MudButton Variant="Variant.Outlined" Class="btnregister" OnClick="() => Register()">Cadastre-se Gratuitamente</MudButton>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                            <MudItem xs="6" Class="logincontent">
                                <MudGrid xs="12" Spacing="0" Class="logincolumn">
                                    <div class="loginbox loginboxMDXL">
                                        <MudItem xs="12" Style="text-align:center" Class="pb-4">
                                            <font class="welcome">Entre com suas credenciais</font>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField Variant="Variant.Outlined" T="string" Label="@_localizer[nameof(Fields.Email)]" @bind-Value="ObjetoEdicao.Email" For="@(() => ObjetoEdicao.Email)" Disabled="@Wait"></MudTextField>
                                        </MudItem>
                                        <MudItem xs="12" Class="mt-3">
                                            <MudTextField Variant="Variant.Outlined" Label="@_localizer[nameof(Fields.Password)]" @bind-Value="ObjetoEdicao.Password" For="@(() => ObjetoEdicao.Password)"
                                                          InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" Disabled="@Wait" />
                                        </MudItem>
                                        <MudItem xs="12" Class="d-flex justify-center mt-8">
                                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;" Disabled="@Wait" DisableElevation="true">@_localizer[nameof(Fields.SignIn)]</MudButton>
                                        </MudItem>
                                        <MudItem xs="12" md="12" sm="12">
                                            @if (Wait)
                                            {
                                                <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="mt-2" />
                                            }
                                        </MudItem>
                                        <MudItem xs="12" Class="d-flex justify-center align-center mt-6 forgotpassword">
                                            <MudLink Href="@Routes.Security.ForgotPassword" Color="Color.Primary">@_localizer[nameof(Fields.ForgotPasswordQuestion)]</MudLink>
                                        </MudItem>
                                    </div>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem Class="flex-grow-1">
                    </MudItem>
                </MudGrid>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.Sm" Invert="true">
                <MudGrid Spacing="0">
                    <MudItem xs="1" Class="flex-grow-1">
                    </MudItem>
                    <MudItem xs="10">
                        <MudGrid Spacing="0" Class="d-flex justify-center">
                            <MudItem xs="12" Class="logincontent">
                                <MudGrid xs="12" Spacing="0" Class="logincolumnSM loginbox loginboxSM">
                                    <MudItem xs="12" Style="text-align:center" Class="pb-4">
                                        <img src="/media/logo.jpg" style="max-width: 240px;" />
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField Variant="Variant.Outlined" T="string" Label="@_localizer[nameof(Fields.Email)]" @bind-Value="ObjetoEdicao.Email" For="@(() => ObjetoEdicao.Email)" Disabled="@Wait"></MudTextField>
                                    </MudItem>
                                    <MudItem xs="12" Class="mt-3">
                                        <MudTextField Variant="Variant.Outlined" Label="@_localizer[nameof(Fields.Password)]" @bind-Value="ObjetoEdicao.Password" For="@(() => ObjetoEdicao.Password)"
                                                      InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" Disabled="@Wait" />
                                    </MudItem>
                                    <MudItem xs="12" Class="d-flex justify-center mt-8">
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;" Disabled="@Wait" DisableElevation="true">@_localizer[nameof(Fields.SignIn)]</MudButton>
                                    </MudItem>
                                    <MudItem xs="12" md="12" sm="12">
                                        @if (Wait)
                                        {
                                            <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="mt-2" />
                                        }
                                    </MudItem>
                                    <MudItem xs="12" Class="mt-4 pt-3 noregister">
                                        <MudText>Ainda não possui uma conta?</MudText>
                                    </MudItem>
                                    <MudItem xs="12" Style="text-align:center" Class="mt-5">
                                        <MudButton Variant="Variant.Outlined" Class="btnregister" OnClick="() => Register()">Cadastre-se Gratuitamente</MudButton>
                                    </MudItem>
                                    <MudItem xs="12" Class="d-flex justify-center align-center mt-6 forgotpassword">
                                        <MudLink Href="@Routes.Security.ForgotPassword" Color="Color.Primary">@_localizer[nameof(Fields.ForgotPasswordQuestion)]</MudLink>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                            <MudItem>
                                <span></span>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="1" Class="flex-grow-1">
                    </MudItem>
                </MudGrid>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <style>
                    body, html, .logincontent, .logincontentXS {
                        background-color: #FFFFFF !important;
                    }
                </style>
                <MudGrid Spacing="0">
                    <MudItem xs="12" Style="width:100%" Class="logincontentXS">
                        <MudGrid xs="12" Spacing="0" Class="logincolumn logincolumnXS loginboxXS">
                            <MudItem xs="12" Style="text-align:center" Class="pb-4">
                                <img src="/media/logo.jpg" style="max-width: 240px;" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Variant="Variant.Outlined" T="string" Label="@_localizer[nameof(Fields.Email)]" @bind-Value="ObjetoEdicao.Email" For="@(() => ObjetoEdicao.Email)" Disabled="@Wait"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" Class="mt-3">
                                <MudTextField Variant="Variant.Outlined" Label="@_localizer[nameof(Fields.Password)]" @bind-Value="ObjetoEdicao.Password" For="@(() => ObjetoEdicao.Password)"
                                              InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" Disabled="@Wait" />
                            </MudItem>
                            <MudItem xs="12" Class="d-flex justify-center mt-8">
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;" Disabled="@Wait" DisableElevation="true">@_localizer[nameof(Fields.SignIn)]</MudButton>
                            </MudItem>
                            <MudItem xs="12" md="12" sm="12">
                                @if (Wait)
                                {
                                    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="mt-2" />
                                }
                            </MudItem>
                            <MudItem xs="12" Class="mt-4 pt-3 noregister">
                                <MudText>Ainda não possui uma conta?</MudText>
                            </MudItem>
                            <MudItem xs="12" Style="text-align:center" Class="mt-5">
                                <MudButton Variant="Variant.Outlined" Class="btnregister" OnClick="() => Register()">Cadastre-se Gratuitamente</MudButton>
                            </MudItem>
                            <MudItem xs="12" Class="d-flex justify-center align-center mt-6 forgotpassword">
                                <MudLink Href="@Routes.Security.ForgotPassword" Color="Color.Primary">@_localizer[nameof(Fields.ForgotPasswordQuestion)]</MudLink>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </MudHidden>
        </EditForm>
    </MudItem>
</MudGrid>

<style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    body, html, .logincontent, .logincontentXS {
        background-color: #EFEFEF;
        height: 100%;
        margin: 0;
    }

    .logincontent {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: #EFEFEF;
    }

    .logincontentXS {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF !important;
    }

    .logincolumn {
        min-width: 320px;
        max-width: 500px;
        background-color: #EFEFEF;
    }

    .logincolumnXS {
        text-align: center;
        background-color: #FFFFFF !important;
    }

    .logincolumnSM {
        width: 500px !important;
    }

    .loginbox, .loginboxXS {
        border: solid 1px #CDCDCD;
        border-radius: 3px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        align-self: center;
        background-color: #FFFFFF;
    }

    .loginboxMDXL {
        max-height: 400px;
    }

    .loginboxXS {
        border: 0 !important;
    }

    .forgotpassword {
        font-weight: 400;
    }

        .forgotpassword a {
            font-size: 14px;
        }

    .noregister {
        text-align: center;
    }

        .noregister p {
            font-size: 13px;
            font-weight: 500;
            color: #676767;
        }

    .welcome {
        color: #153389;
        font-size: 21px;
        font-weight: 500;
    }

    .btnregister {
        color: #153389;
        border-color: #264CBA;
    }

        .btnregister span.mud-button-label {
            font-size: 13px;
        }
</style>