@page "/security/reset-password/"
@layout MainLayout
@attribute [AllowAnonymous]
<EditForm EditContext="EditContext" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <img src="/media/logo.jpg" style="max-width: 200px; max-height: 200px; "/>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">@_localizer[nameof(Fields.ResetPassword)]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.subtitle2" Class="mb-n4">@_localizer[nameof(Fields.EnterEmailAndNewPassword)]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField InputType="@InputType.Email" Label="@_localizer[nameof(Fields.Email)]" @bind-Value="EditModel.Email" For="@(() => EditModel.Email)"></MudTextField>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@_localizer[nameof(Fields.Password)]" @bind-Value="EditModel.Password" For="@(() => EditModel.Password)" InputType="@PasswordInput"
                          Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility"></MudTextField>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@_localizer[nameof(Fields.PasswordConfirm)]" @bind-Value="EditModel.ConfirmPassword" For="@(() => EditModel.ConfirmPassword)"
                          InputType="InputType.Password"></MudTextField>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true">@_localizer[nameof(Fields.ResetPassword)]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>