@page "/security/users/{id}/profile"
<MudGrid>
    <MudItem xs="7">
        <BrunoMelo.FluxoCaixa.Client.Web.Shared.Components.PageTitle Title="@_localizer[nameof(Fields.AccountDetails)]" />
    </MudItem>
    <MudItem xs="5" Class="@MudBlazorCssClass.Build().TitleBarActions()">
        @if (ExibeConfirmacaoExclusao)
        {
            <MudGrid Class="@MudBlazorCssClass.Build().ModalActions()">
                <MudItem xs="12" Class="@MudBlazorCssClass.Build().ActionsRight()">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="DeleteAsync">@_localizer[nameof(Fields.Confirm)]</MudButton>
                    <MudButton Variant="Variant.Text" Class="@MudBlazorCssClass.Build().MarginRight(2)" OnClick="(() => ExibeConfirmacaoExclusao = false)">@_localizer[nameof(Fields.Cancel)]</MudButton>
                    <MudText Class="@($"{MudBlazorCssClass.Build().MarginRight(2)} d-flex flex-column align-self-center")">@_localizerMessages[nameof(Messages.ConfirmDeletion)]</MudText>
                </MudItem>
            </MudGrid>
        }
        else
        {
            <MudGrid Class="@MudBlazorCssClass.Build().ModalActions()">
                <MudItem xs="12" Class="@MudBlazorCssClass.Build().ActionsRight()">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleUserStatus" ButtonType="ButtonType.Submit">@_localizer[nameof(Fields.EnableDisable)]</MudButton>
                    @if (IdNumber > 0)
                    {
                        <MudButton Variant="Variant.Filled" Class="@MudBlazorCssClass.Build().MarginRight(2)" OnClick="(() => ExibeConfirmacaoExclusao = true)" Color="Color.Secondary">@_localizer[nameof(Fields.Delete)]</MudButton>
                    }
                    <MudButton Variant="Variant.Text" Class="@MudBlazorCssClass.Build().MarginRight(2)" OnClick="(() => GoBack())">@_localizer[nameof(Fields.Back)]</MudButton>
                </MudItem>
            </MudGrid>
        }
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" sm="4" md="3">
        <MudCard Elevation="0">
            <MudCardContent>
                <div class="d-flex justify-center mb-4">
                    <MudAvatar Color="Color.Secondary" Style="height:250px; width:250px;">@FirstLetterOfName</MudAvatar>
                </div>
                <MudText Typo="Typo.h6" Align="Align.Center">@ObjetoEdicao.Name @ObjetoEdicao.Surname</MudText>
                <MudText Align="Align.Center">@ObjetoEdicao.Email</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="8" md="9">
        <MudCard Elevation="0">
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudField Label="@_localizer[nameof(Fields.Name)]" Variant="Variant.Text">@ObjetoEdicao.Name</MudField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudField Label="@_localizer[nameof(Fields.Surname)]" Variant="Variant.Text">@ObjetoEdicao.Surname</MudField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudField Label="@_localizer[nameof(Fields.Email)]" Variant="Variant.Text">@ObjetoEdicao.Email</MudField>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>